BasedOnStyle: LLVM
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: true
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Inline
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: False
ColumnLimit: 120
ExperimentalAutoDetectBinPacking: false
FixNamespaceComments: false
IndentWidth: 4
PackConstructorInitializers: Never
ReferenceAlignment: Left
PointerAlignment: Left
NamespaceIndentation: Inner
SortIncludes: Never

PenaltyReturnTypeOnItsOwnLine: 1000000
#PenaltyBreakAssignment: 1000000