BasedOnStyle: LLVM
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: true
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: False
ColumnLimit: 120
IndentWidth: 4
ReferenceAlignment: Left
PointerAlignment: Left
NamespaceIndentation: Inner
SortIncludes: Never